.header
{
    color: rgba(255, 255, 255, 0.3);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    height: 100px;
    margin-top: 20px;
    padding: 20px;
}
